
// colors
$primary: #5c62c5;
$dark-grey: #363636;
$ligth-grey: #d8d8d8;


// botton google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


//$breakpoints: (
//	xs: 576px,
//	sm: 768px,
//	md: 992px,
//	lg: 1200px,
//);